<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Poppins|Rosario" rel="stylesheet"> 
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>

    <body>

        <header>
            <div class = nav-links>
                <h1 class="navigation"><a href="/blog">View posts</a></h1>
                <h1><a href="/newpost">Write a post</a></h1> 
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <h2>Check out my real blog at <a href="www.andiefromkc.com">this link</a>.</h2>
        </footer>

    </body>
</html>